<form class="form-signin text-center mt-5" method="" action="">
    <h1 class="h3 my-3 pb-2 font-weight-normal">Guest user mode</h1>
    <p class="my-4 text-muted">
        You can don't register yourself in this site. To try and evaluate
        <span class="badge badge-light">'Visualization'</span>
        you can sign in as guest user.
    </p>
    <a class="text-decoration-none btn btn-lg btn-primary btn-block mt-3" href="{% url 'guest_mode' %}">
        Sing in as guest user
    </a>
</form>