{% extends 'base_generic.html' %}

{% block title %}<title>Sign in | Visualization</title>{% endblock %}

{% block links %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/signin.css' %}">
{% endblock links %}

{% load widget_tweaks %}


{% block content %}

<form class="form-signin text-center mt-5" method="post" action="{% url 'login' %}">

    {% csrf_token %}
    <h1 class="h3 my-3 font-weight-normal">Please sign in</h1>
    {% render_field form.username class+="form-control" placeholder="Username" %}
    {% render_field form.password class+="form-control" placeholder="Password" %}

    <!-- <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div> -->
    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
    {% endif %}

    <button class="btn btn-lg btn-primary btn-block mt-3" type="submit">Sign in</button>
    <input type="hidden" name="next" value="{{ next }}" />
    <p class="mt-2 mb-3 text-muted">
        <a class="text-decoration-none" href="{% url 'password_reset' %}">Lost password?</a>
    </p>
    <p class="mt-2 mb-3 text-muted">
        Don't have the account?  
        <a class="text-decoration-none" href="{% url 'signup' %}">Sign up</a>
    </p>
    <p class="mt-3 mb-3 text-muted">&copy; 2020-2021</p>
</form>

{% endblock content %}