<!DOCTYPE html>
<html lang="en">

<head>
    {% block title %}<title>Visualization</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link href="/docs/4.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous"> -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="shortcut icon" href="{% static 'favicon/favicon.png' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://kit.fontawesome.com/d35ccb44e3.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- HEADER -->
    {% include 'header.html' %}
{% load widget_tweaks %}


<form class="form-signin" method="post" action="{% url 'login' %}">
    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
    {% endif %}
    <p><a href="{% url 'password_reset' %}">Lost password?</a></p>

    {% csrf_token %}
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

    <!-- <label for="inputEmail" class="sr-only">Email address</label> -->
    {{ form.username.label_tag }}
    <!-- <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus> -->
    {{ form.username|add_class:"form-control" }}

    <!-- <label for="inputPassword" class="sr-only">Password</label> -->
    {{ form.password.label_tag }}
    <!-- <input type="password" id="inputPassword" class="form-control" placeholder="Password" required> -->
    {{ form.password|add_class:"form-control" }}

    <!-- <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div> -->

    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <input type="hidden" name="next" value="{{ next }}" />

    <!-- <p class="mt-5 mb-3 text-muted">&copy; 2017-2020</p> -->
</form>


</body>
