{% extends 'base_generic.html' %}


{% block title %}
<title>Add track | Visualization</title>
{% endblock title %}


{% block alert %}
    

{% if enable_undo_button == "True" %}
        
<!-- UNDO BUTTON -->
<div class="alert alert-success d-flex justify-content-center p-1">
    <p class="my-auto mr-5">The track has been inserted successful!</p>
    <form action="{% url 'track_undo_insert' %}" method="POST" class="my-auto">
    {% csrf_token %}
        <button class="btn btn-sm btn-success" id="btn-undo"><i class="fa fa-undo"></i> UNDO</button>
    </form>
</div>
<!-- END UNDO BUTTON -->

{% endif %}

{% endblock alert %}


{% block content %}

<!--INSERT CELL FORM-->
<div class="row mt-3">

    <div class="col-lg-4 py-3">
        <form method='POST' class="form-track mt-2 mb-2 mx-1">
            <div class="form-group">
                <h4 class="text-center headings"><span class="underline--magical pb-2">Create the new track</span></h4>
            </div>
            {% csrf_token %}

            {{ form.non_field_errors }}
            <!-- TASK -->
            <div class="form-group mt-4 pt-3">
                {{ form.id_task.errors }}
                <label for="{{ form.id_task.id_for_label }}">Choose task:</label>
                {{ form.id_task }}
            </div>
            <!-- DURATION -->
            <div class="form-group">
                {{ form.id_task.errors }}
                <label for="{{ form.duration.id_for_label }}">
                    Duration of the task
                    <span class="text-secondary">(in pomodoros)</span>
                    :
                </label>
                {{ form.duration }}
                {{ form.errors }}
            </div>
            <!-- RATE -->
            <div class="form-group">
                {{ form.id_rate.errors }}
                <label for="{{ form.id_rate.id_for_label }}">Choose rate:</label>
                {{ form.id_rate }}
            </div>
            <!-- DATE -->
            <div class="form-group">
                {{ form.date.errors }}
                <label for="{{ form.date.id_for_label }}">Select the date:</label>
                {{ form.date }}
            </div>

            <button class="btn submit btn-primary btn-block">Create</button>
        </form>
    </div>

    <div class="col-lg-8 py-3">
        <div class="tracks mt-2 mb-2">
            <h4 class="text-center headings"><span class="underline--magical pb-2">10 recent created tracks</span></h4>
            <table class="table table-form mt-5 ml-2 mr-2">
                <tr class="table-head">
                    <th>Name</th>
                    <th>Duration <br> <br> <span class="text-secondary">(in pomodoros)</span></th>
                    <th>Rate</th>
                    <th>Date</th>
                </tr>

                {% for track in tracks %}
                <tr>
                    <td>
                        <a href="{{ track.get_absolute_url }}" class="text-body">
                            <i class="fa fa-pencil-square-o mr-1" aria-hidden="true"></i>
                        </a>
                        {{ track.id_task }}
                    </td>
                    <td>
                        <div class="ml-5"> {{ track.duration }}</div>
                    </td>
                    <td>{{ track.id_rate }}</td>
                    <td>{{ track.date }}</td>
                </tr>
                {% endfor %}

            </table>
        </div>
    </div>

</div>
{% endblock content %}