{% extends 'main/base.html' %}

{% block content %}
    
    <!--WEEK VISUALISATION PROCENT BOARD-->
    <div class="general-cell">
        <h2>Week visualisation</h2>
        <div class="box-of-line-procentage-of-week-implementation">
            <p>77%</p>
            <div class="body-of line-procentage-of-week-implementation"></div>
            <div class="covered-part-of line-procentage-of-week-implementation"></div>
        </div>
    </div>
    <!--LIST TASKS FOR WEEK-->
    <div class="general-cell">
        <h2>List tasks for Week #28: 06 July - 12 July 2020</h2>
        <ul>
            <li><h4>Monday 06 July</h4>
                <p>1 Python general : 300 minutes<br>
                    2 Learning words : 30 minutes <br>
                    3 Learning video : 30 minutes <br>
                    4 Learning grammar : 30 minutes <br> <br>
                    Total time: 6 hours 30 min </p> <hr>
            </li>
            <li><h4>Tuesday 07 July</h4>
                <p>
                    1 Tasks : 360 minutes <br>
                    2 Learning words : 30 minutes <br> <br>
                    Total time: 6 hours 30 min
                </p> <hr>
            </li>
        </ul>
    </div>
{% endblock content %}
</html>


