{% extends 'base_generic.html' %}


{% block title %}
    <title>Create task</title>
{% endblock title %}



{% block alert %}
    

{% if enable_undo_button == "True" %}
        
<!-- UNDO BUTTON -->
<div class="alert alert-success d-flex justify-content-center p-1">
    <p class="my-auto mr-5">The task has been inserted successful!</p>
    <form action="{% url 'task_undo_insert' %}" method="POST" class="my-auto">
    {% csrf_token %}
        <button class="btn btn-sm btn-success" id="btn-undo"><i class="fa fa-undo"></i> UNDO</button>
    </form>
</div>
<!-- END UNDO BUTTON -->

{% endif %}

{% endblock alert %}


{% block content %}


<div class="row mt-3 border">
    <!--INSERT CELL FORM-->
    <div class="col-lg border py-3">

        <form method='POST' class="mt-2 mb-2">
            <div class="form-group">
                <h4 class="text-center">The task update</h4>
                <h6 class="text-center">{{ task.name }}</h6>
            </div>
            {% csrf_token %}

            {{ form.non_field_errors }}
            <!-- TASK -->
            <div class="form-group mt-5 mx-auto form-update">
                {{ form.name.errors }}
                <label for="{{ form.name.id_for_label }}">Update the name of the task:</label>
                {{ form.name }}
            </div>

            <button class="btn submit btn-primary btn-block mx-auto form-update">Update</button>
        </form>
    </div>

</div>
{% endblock content %}