html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    /* Margin bottom by footer height */
}

:root {
    --main-color: rgb(12, 6, 36);
    --light-color:  #dfdfe2;
    --bg-light: #fff;
    --footer-height: 40px;
}

.bg-main {
    background-color: var(--main-color);
}

.navbar-nav li a:hover {
    color: var(--main-color) !important;
    /* text-decoration: none; */
    background: var(--bg-light);
}

.clue {
    margin-left: 0.25rem;
    font-size: 0.9rem;
    color: #666666;
}

.table-form {
    line-height: 0.8;
}

.table-head {
    background-color: rgb(241, 241, 241);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: var(--footer-height);
    line-height: var(--footer-height);
    background-color: var(--light-color);
}

.cw-total {
    border-top: 0.15rem solid var(--light-color);
    border-bottom: 0.15rem solid var(--light-color);
}

#btn-undo {
    background-color: #7cbd8b;
}

#btn-undo:hover {
    background-color: #6ca579;
}