:root {
    --main-color: rgb(12, 6, 36);
    --bg-light: #fff;
}

.bg-main {
    background-color: var(--main-color);
}

.navbar-nav li a:hover {
    color: var(--main-color) !important;
    /* text-decoration: none; */
    background: var(--bg-light);
}

.clue {
    margin-left: 0.25rem;
    font-size: 0.9rem;
    color: #666666;
}

.table-form {
    line-height: 0.8;
}

.table-head {
    background-color: rgb(241, 241, 241);
}