<header class="navbar navbar-expand-lg sticky-top bg-main navbar-dark py-0">

    <!--Logo-->
    <a class="navbar-brand" href="{% url 'index' %}"><i class="fas fa-dragon"></i> Visualization</a>

    <!-- Toggler/collapsible Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">

        {% if user.is_authenticated %}
        <ul class="navbar-nav" id="navbar">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'add_track' %}">/add track</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'add_task' %}">/add task</a>
            </li>
        </ul>
        {% endif %}


        {% if user.is_authenticated %}
        <ul class="navbar-nav ml-auto" id="navbar">
            <li class="nav-item">
                <a class="nav-link disabled text-white">{ Hello, {{ user.username }} }</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">/logout</a>
            </li>
        </ul>
        {% else %}
        <ul class="navbar-nav ml-auto">
            <li class="nav-item px-3">
                <a class="nav-link" href="{% url 'login' %}">
                    <i class="fa fa-sign-in" aria-hidden="true"></i>  
                    sign in
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-3" href="{% url 'signup' %}">
                    <i class="fa fa-user"></i>  
                    sign up
                </a>
            </li>
        </ul>
        {% endif %}


    </div>
    <!-- Links -->
</header>