:root {
    --main-color: rgb(12, 6, 36);
    --bg-light: #fff;
}

.bg-main {
    background-color: var(--main-color);
}

.navbar-nav li a:hover {
    color: var(--main-color) !important;
    /* text-decoration: none; */
    background: var(--bg-light);
}


